body {
    font-family: Arial, sans-serif;
    text-align: center;
    padding: 20px;
}

#menu, #waiting-room, #game {
    margin-top: 20px;
}

#click-image {
    cursor: pointer;
}

#your-score, #opponent-score {
    font-weight: bold;
}
