body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f4f4f4;
}

#game-container {
    text-align: center;
    max-width: 400px;
    width: 100%;
}

#menu, #game, #waiting-room {
    margin-bottom: 20px;
}

button {
    margin: 10px;
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
}

#click-area img {
    max-width: 100%;
    height: auto;
    cursor: pointer;
}

#scoreboard {
    margin-bottom: 20px;
}
