body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
}

#menu, #waiting-room, #game {
    margin: 20px;
}

#click-image {
    width: 200px;
    cursor: pointer;
}

#your-score, #opponent-score {
    font-weight: bold;
}
